* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  list-style: none;
  text-decoration: none;
  overflow-x: hidden;
  overflow: overlay;
}

img {
  object-fit: cover;
}

nav {
  display: flex;
  align-items: center;
  min-height: 8vh;
  justify-content: space-around;
  background-color: #5d4954;
}

.logo {
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
  margin: 10px;
  float: right;
}

.nav-links a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.75s ease;
}

.nav-links a:hover {
  color: cyan;
}

.nav-links span {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

.burger {
  display: none;
  float: right;
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #5d4954;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 100;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

::-webkit-scrollbar {
  width: 0.6em;
  z-index: 0;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 6px;
}

.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;

}

.loader.hidden {
  animation: fadeOut 3s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

footer {
  background: #111;
  height: auto;
  width: 100vw;
  position: sticky;
  font-family: "Open Sans";
  color: #fff;
}

.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
